.CartView {
  justify-content: center;
  min-height: calc(100vh - var(--navHeight));
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
  align-items: center;
  /* background-color: var(--bgMain); */
}

.btnCheckout {
  background-color: var(--bgBlueMedium);
  border: none;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .08);
  transition: all .3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 56px;
  padding: 6px 12px;
}

.btnCheckout button {
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: 600;
}

.btnCheckout:hover {
  cursor: pointer;
  background-color: var(--bgBlueLight);
  box-shadow: inset 0 0 0 3px hsla(0, 0%, 100%, .08);
}

.cartItem {
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 100%, .08), 0px 0px 15px 5px rgba(0, 0, 0, 0.28);
  transition: all .3s ease-in-out;
}
.cartItem:hover {
  box-shadow: inset 0 0 0 3px hsla(0, 0%, 100%, .08), 0px 0px 15px 5px rgba(0, 0, 0, 0.28);
}

.itemCartContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.itemCart {
  outline: 1px solid #cccccc;
  transition: outline .5s ease;
  /* outline: 1px solid gray; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding: 1px;
  width: 300px;
  min-height: 300px;
}

.itemCart:hover {
  outline: 1px solid #767677;
}

.itemCart span {
  font-size: .9rem;
  /* font-weight: 600; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 35px;
}

.itemDescription {
  display: flex;
  gap: 15px;
  align-items: center;
}

.itemDescr1 img {
  width: 120px;
}

.itemDescr2 {
  text-align: start;
  display: flex;
  flex-direction: column;
}



.btnEliminar {
  border: none;
  background-color: red;
  font-size: .9rem;
  padding: 5px 10px;
  height: 35px;
  color: white;
  /* outline: 1px solid gray; */
  width: 100%;
  cursor: pointer;
  transition: background-color .5s ease;
}

.btnEliminar:hover {
  background-color: rgb(198, 2, 2);
}

.infoFinalBtnsContainer {
  display: flex;
}

.btnGoCheckout {
  /* border-radius: 5px; */
  border: none;
  background-color: rgb(2, 149, 2);
  /* padding: 5px 10px; */
  outline: 1px solid gray;
  font-size: .9rem;
  color: white;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: background-color .5s ease;
}

.btnGoCheckout:hover {
  background-color: rgb(1, 119, 1);
}

.btnVaciarCarrito {
  /* border-radius: 5px; */
  border: none;
  background-color: var(--colorSecondary);
  padding: 5px 10px;
  color: white;
  outline: 1px solid gray;
  font-size: .9rem;
  display: block;
  margin: auto;
  cursor: pointer;
  width: 200px;
  height: 50px;
  transition: background-color .5s ease;
}

.btnVaciarCarrito:hover {
  background-color: rgb(196, 131, 33);
}

.infoFinal {
  display: flex;
  flex-direction: column;
}



/* Estilos cuando no hay nada en el carrito */


@media screen and (max-width: 1200px) {
  .itemCartContainer {
    grid-template-columns: 3fr;
  }
}

@media screen and (max-width: 767px) {

  .btnVaciarCarrito,
  .btnGoCheckout {
    width: 150px;
  }

  .itemCartContainer {
    grid-template-columns: 2fr;
  }
}

@media screen and (max-width: 500px) {

  .itemCartContainer {
    grid-template-columns: 1fr;
  }

  .btnVaciarCarrito,
  .btnGoCheckout {
    width: 100px;
  }
}