#panel{
    /* min-height: calc(100vh - var(--navHeight)); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#panel > p {
    /* background-color: blue; */
    height: 100%;
}

.panelContainer{
    min-height: calc(100vh - var(--navHeight));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}