#wp-btn{
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 45px;
    height: 45px;
    background-color: transparent;
}

.img-wp{
    width: 45px;
    height: 45px;
}