.ItemDetailContainer {
  /* min-height: calc(100vh - var(--navHeight)); */
  
  background-color: #ebebeb;
}

.ItemDetailContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navHeight));
}