.Nosotros {
  min-height: calc(100vh - var(--navHeight));

  padding: 20px;
  width: 100%;
  position: relative;
  /* background-color: rgba(255, 255, 255, 0.75); */
}

.nosotrosContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.nosotros-logoContainer {
  width: 50%;
}

.nosotros-logo {
  width: 100%;
}

.nosotros-title {
  font-family: "harryp", "Benne";
}

.imgBg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .nosotrosContainer {
    flex-direction: column;
    gap: 0px;
  }

  .nosotros-logoContainer {
    width: 120px;
  }
}

@media (max-width: 421px) {
  .nosotros-logoContainer {
    width: 70px;
  }
}
