.itemContainer {
  padding: 10px 3px;
  height: 450px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  /* background: white; */
  /* outline: 1px solid #cccccc; */
  transition: outline .5s ease;
  background-color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.08), 0px 0px 5px 0px hsla(0,0%,100%,.08);
  transition: all .3s ease-in-out;
}

.itemContainer:hover {
  /* outline: 1px solid #767677; */
  box-shadow: inset 0 0 0 3px hsla(0,0%,100%,.08), 0px 0px 5px 5px hsla(0,0%,100%,.08);
}

.itemTitulo{
  font-weight: 600;
  font-size: 1rem;
}

.itemImgContainer {
  width: 100%;
  /* height: 100%; */
  height: 250px;
  overflow: hidden;
  padding: 1px;
  /* box-shadow: inset 0 0 0 10px hsla(0,0%,100%,.08); */
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.34) inset;
}

.itemImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.item-price{
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.292); */
}

.btn__vermas {
  /* margin-top: 10px; */
  /* border-radius: 5px; */
  border: none;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* font-weight: bold; */
  /* font-size: 1rem; */
  /* background: #732D4D; */
  /* background: var(--colorSecondary); */
  /* padding: 5px 10px; */
  color: white;
  transition: color .5s ease;
  height: 50px;
}

.btn__vermas:hover {
  cursor: pointer;
  color: black;
}

.consulta:hover{
  text-decoration: underline;
}

.item__logoWp{
  width: 12px;
  height: 12px;
  /* background-color: red; */
}

@media screen and (max-width: 767px) {

  .itemContainer {
    height: 350px;
    width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .itemContainer {
    height: 300px;
    width: 150px;
  }

  .btn__vermas {
    /* font-size: 10px; */

    margin-top: 0px;
    /* border-radius: 3px; */
    border: none;
    /* background: #732D4D; */
    background: var(--colorSecondary);
    /* padding: 5px 10px; */
    color: black;
  }
}

/* @media screen and (max-width: 480px) {
  
} */