.editarCategoria{
    min-height: calc(100vh - var(--navHeight));
    background-color: var(--bgMain);
}

.formContainer{
    background-color: white;
}

.inputEditar{
    width: 400px;
}

.btnEditar{
    font-size: .8rem;
}

@media screen and (max-width: 767px) {
    .inputEditar{
        width: 300px;
    }
  }
  
  @media screen and (max-width: 500px) {
    .inputEditar{
        width: 200px;
    }
    
  }