@font-face {
  font-family: 'Poppins';
  src: url('/src/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "harryp";
  src: url("/src/fonts/Harryp/harryp.ttf");
}

:root {
  --navHeight: 128px;
  --colorMain: #000000;
  --bgCategorias: rgba(0, 0, 0, 0.5);
  --bgMain: #eceff1;
  --bgSecondary: rgb(255, 255, 255);
  /* --bgContainer: rgb(241, 245, 249); */
  --colorSecondary: rgb(218, 155, 62);
  --iconSize: 24px;

  /* CUSTOM GRAY */
  --bgGrayDark: #23252F;
  --bgGrayMedium: #2B2D38;
  --bgGrayLight: #555b5d;
  /* test */

  /* CUSTOM BLUE */
  --bgBlueDark: #073f51;
  /* test */
  --bgBlueMedium: #084c61;
  --bgBlueLight: #095b73;

  --textGray300Custom: rgb(161, 161, 161);

  /* FONT SIZES */
  --customFontSizeXs: .75rem;
  --customFontSizeSm: .875rem;
  --customFontSizeXl: 1.25rem;
}

html {
  font-size: 16px;
  /* text-align: center; */
  /* overflow: hidden; */
}

/* Quita los botones del input type NUMBER */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fontXL-Custom {
  font-size: var(--customFontSizeXl);
}

.fontSM-Custom {
  font-size: var(--customFontSizeSm);
}

.fontXS-Custom {
  font-size: var(--customFontSizeXs);
}

.bgContainer {
  background-color: var(--bgMain);
}

.bgSecondary {
  background-color: var(--bgSecondary);
}

.custom-placeholder::placeholder {
  color: var(--textGray300Custom);
  opacity: 1;
  /* Para que el color se vea claramente en todos los navegadores */
}

/* arreglo bootstrap */
ul {
  margin-bottom: 0;
  padding-left: 0;
}

/* arreglo bootstrap */

body {
  font-family: 'Poppins', 'Montserrat', sans-serif;
  /* overflow: hidden; */
}

li {
  list-style: none;
}

a {
  /* color: var(--colorMain); */
  text-decoration: none;
}

a:hover {
  text-shadow: none;
  /* color: black; */
  text-decoration: none;
}

/* SPINNER */
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

@media (max-width: 767px) {
  :root {
    --navHeight: 112px;
  }
}

@media (min-width: 768px) {
  .fontXL-Custom-md {
    font-size: var(--customFontSizeXl);
  }
  .fontXS-Custom-md {
    font-size: var(--customFontSizeXs);
  }
  .fontSM-Custom-md {
    font-size: var(--customFontSizeSm);
  }
}