.btn__editar {
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    /* background: #732D4D; */
    background: var(--colorSecondary);
    /* padding: 5px 10px; */
    color: white;
}